RecipeRatingWebsite/Connected Services/MyServices_RecipessService/RecipesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://myservices.somee.com/RecipesService" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://myservices.somee.com/RecipesService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://myservices.somee.com/RecipesService">
      <s:element name="GetAllRecipes">
        <s:complexType />
      </s:element>
      <s:element name="GetAllRecipesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllRecipesResult" type="tns:ArrayOfRecipeRespondDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRecipeRespondDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RecipeRespondDto" nillable="true" type="tns:RecipeRespondDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RecipeRespondDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AvgRating" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalVotes" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRecipeById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRecipeByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRecipeByIdResult" type="tns:Recipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Recipe">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Created" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Birthday" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GenderId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_recipe" type="tns:RecipeAddRequestDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RecipeAddRequestDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UrlImage" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddResult" type="tns:Recipe" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllRecipesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllRecipes" />
  </wsdl:message>
  <wsdl:message name="GetAllRecipesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllRecipesResponse" />
  </wsdl:message>
  <wsdl:message name="GetRecipeByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetRecipeById" />
  </wsdl:message>
  <wsdl:message name="GetRecipeByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetRecipeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:portType name="RecipesServiceSoap">
    <wsdl:operation name="GetAllRecipes">
      <wsdl:input message="tns:GetAllRecipesSoapIn" />
      <wsdl:output message="tns:GetAllRecipesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeById">
      <wsdl:input message="tns:GetRecipeByIdSoapIn" />
      <wsdl:output message="tns:GetRecipeByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RecipesServiceSoap" type="tns:RecipesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRecipes">
      <soap:operation soapAction="http://myservices.somee.com/RecipesService/GetAllRecipes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeById">
      <soap:operation soapAction="http://myservices.somee.com/RecipesService/GetRecipeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://myservices.somee.com/RecipesService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RecipesServiceSoap12" type="tns:RecipesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllRecipes">
      <soap12:operation soapAction="http://myservices.somee.com/RecipesService/GetAllRecipes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeById">
      <soap12:operation soapAction="http://myservices.somee.com/RecipesService/GetRecipeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://myservices.somee.com/RecipesService/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RecipesService">
    <wsdl:port name="RecipesServiceSoap" binding="tns:RecipesServiceSoap">
      <soap:address location="http://myservices.somee.com/RecipesService.asmx" />
    </wsdl:port>
    <wsdl:port name="RecipesServiceSoap12" binding="tns:RecipesServiceSoap12">
      <soap12:address location="http://myservices.somee.com/RecipesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>